@define-mixin button {
  @mixin transition all;
  display: inline-block;
  min-width: 140px;
  padding: 12px 31px;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

[type="submit"],
[type="button"],
[type="reset"],
button {
  @mixin reset-button;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    box-shadow: none;
  }
}

.button {
  @mixin button;
  background: var(--c-button-primary-bg);
  color: var(--c-button-primary-text);
  border-color: var(--c-button-primary-border);

  &:hover {
    color: var(--c-button-primary-hover-text);
    text-decoration: none;
    background: var(--c-button-primary-hover-bg);
    border-color: var(--c-button-primary-hover-border);
    box-shadow: none;
  }

  &:disabled {
    background: var(--c-button-primary-disable-bg);
    color: var(--c-button-primary-disable-text);
    border-color: var(--c-button-primary-disable-border);
  }
}

.button--icon {
  @mixin reset-button;
}

.button--secondary {
  padding: 12px 35px;
  background: var(--c-button-secondary-bg);
  color: var(--c-button-secondary-text);
  border: 1px solid var(--c-button-secondary-border);

  &:hover {
    background: var(--c-button-secondary-hover-bg);
    color: var(--c-button-secondary-hover-text);
    border-color: var(--c-button-secondary-hover-border);
  }

  &:disabled {
    background: var(--c-button-secondary-disable-bg);
    color: var(--c-button-secondary-disable-text);
    border-color: var(--c-button-secondary-disable-border);
  }
}

.button--alternate {
  background: var(--c-button-alternate-bg);
  color: var(--c-button-alternate-text);
  border: 1px solid var(--c-button-alternate-border);

  &:hover {
    background: var(--c-button-alternate-hover-bg);
    color: var(--c-button-alternate-hover-text);
    border-color: var(--c-button-alternate-hover-border);
  }

  &:disabled {
    background: var(--c-button-alternate-disable-bg);
    color: var(--c-button-alternate-disable-text);
    border-color: var(--c-button-alternate-disable-border);
  }
}
