.wrapper {
  padding: 30px 0;
}

.inner {
  display: flex;
}

.sidebar {
  width: 200px;
  margin-right: 40px;
}

.sidebar__section {
  margin-bottom: 24px;
}

.sidebar__header {
  @mixin h4;
  @mixin sidebar-header;
  margin-bottom: 12px;
}

.sidebar__item {
  padding: 5px 0;
  cursor: pointer;

  &:hover {
    color: var(--c-blue);
  }
}

.content {
  flex: 1 1 0;
}

.product__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 40px;
}

.product__image-img {
  @mixin aspect 4, 3;
}

.product__vendor {
  color: var(--c-black-light-30);
}

.product__title {
  @mixin product-title;
  margin-top: 8px;
}

.product__content {
  margin-top: 16px;
}

.product__price {
  @mixin product-price;
  margin-top: 12px;
  color: var(--c-red);
}

.product-button {
  margin-top: 16px;
}

.topbar {
  margin-bottom: 8px;
}

.topbar__inner {
  display: flex;
}

.topbar__item {
  position: relative;
  border: 1px solid var(--c-gray);
  padding: 5px 30px 5px 12px;
  border-radius: 20px;
  margin-right: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  cursor: pointer;
}

.topbar__text {
  padding-right: 12px;
}

.topbar__remove {
  position: absolute;
  width: 30px;
  height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  border-left: 1px solid var(--c-gray);

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: var(--c-gray-9);
    top: 50%;
    left: calc(50% - 10px);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(135deg);
  }
}
